# Copia este archivo a terraform.tfvars y pon los valores reales.
# terraform.tfvars NUNCA se comitea (ver .gitignore).

kube_context = "k3d-testclaro"

db_username = "telco_user"
db_password = "changeme"

ghcr_username = "tu-usuario-de-github"
ghcr_token    = "ghp_xxxxxxxxxxxxxxxxxxxx"
